@model DAL.Models.FlashModel

@{
    ViewBag.Title = "Flash";
}

<!-- data tables css -->
<link rel="stylesheet" href="@Url.Content("~/Content/admin/assets/css/plugins/dataTables.bootstrap4.min.css")">
<link href="@Url.Content("~/Content/admin/Custom.css")" rel="stylesheet" />

<form id="frm_flash">
    <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
            <div class="card">

                <div class="card-header">
                    <h5>Flash</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Caption</label>
                                @Html.TextBoxFor(Model => Model.FLASH_CAPTION, new { @class = "form-control", placeholder = "Enter Caption", @required = "required" })
                                <label id="FLASH_CAPTION-error" class="error hide_column invalid-feedback" for="FLASH_CAPTION" style="">This field is required.</label>
                                @Html.TextBoxFor(Model => Model.ACTION, new { @class = "hide_column", value = "1" })
                                @Html.TextBoxFor(Model => Model.FLASH_ID, new { @class = "hide_column" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Upload Image</label>
                            <input type="file" id="uploadfile" accept=".jpg, .jpeg, .png"  required/>
                            <label id="FLASH_ORDER-error" class="error hide_column invalid-feedback" for="uploadfile" style="">This field is required.</label>
                            Image Size: W-1920xH-843
                        </div>
                        <div class="col-md-2">
                            <label>Order</label>
                            <select class="form-control" id="FLASH_ORDER" required>
                                @{
                                    for (int i = 1; i <= 100; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                            
                            @Html.TextBoxFor(Model => Model.FLASH_ORDER, new { @class = "hide_column" })
                        </div>
                        <div class="col-md-4">
                            <br />
                            <button class="btn notifications btn-success has-ripple" data-type="success" data-from="top" data-align="right" type="submit" id="btnsubmit">Submit</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dt-responsive table-responsive">
                                <table id="gridtable" class="table table-bordered">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ sample-page ] end -->
    </div>
</form>


<script src="@Url.Content("~/Content/admin/assets/js/plugins/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/dataTables.bootstrap4.min.js")"></script>

<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.colVis.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.print.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/pdfmake.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/jszip.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/dataTables.buttons.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.html5.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.bootstrap4.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/pages/data-export-custom.js")"></script>

<!--Custom-->
<script src="@Url.Content("~/Scripts/custom/Flash/FlashDatatable.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/custom/Flash/Flash.js")"></script>

<script>
    var LoadRecord = "@Url.Content("~/Flash/loadRecord")"
    var AddEditDeleteRecord= "@Url.Content("~/Flash/addEditDeleteRecord")"
    var EditRecord = "@Url.Content("~/Flash/editRecord")"
    var DeleteRecord = "@Url.Content("~/Flash/deleteRecord")"
    var ToggleFlash = "@Url.Content("~/Flash/ToggleFlash")"
    var DeleteFlash = "@Url.Content("~/Flash/DeleteFlash")"
    var SetOrder = "@Url.Content("~/Flash/SetOrder")"
    

    var UploadFileUrl = "@Url.Content("~/Flash/uploadFile")"
</script>

