<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <!-- Favicon icon -->
    <link rel="icon" href="@Url.Content("~/Content/admin/assets/images/favicon.ico")" type="image/x-icon">
    <!-- select2 css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/admin/assets/css/plugins/select2.min.css")">
    <!-- vendor css -->
    <link href="@Url.Content("~/Content/admin/assets/css/style.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <script src="@Url.Content("~/Content/admin/assets/js/vendor-all.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/js/plugins/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/js/ripple.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/assets/js/horizontal-menu.js")"></script>

    <!-- select2 Js -->
    <script src="@Url.Content("~/Content/admin/assets/js/plugins/select2.full.min.js")"></script>
    <!-- notification Js -->
    <script src="@Url.Content("/Content/admin/assets/js/plugins/bootstrap-notify.min.js")"></script>
    <script src="@Url.Content("~/Scripts/custom/gbl.js")"></script>
    @RenderSection("scripts", required: false)
</head>
<body style="background-color: #ecf0f5">
    <nav class="pcoded-navbar theme-horizontal menu-light brand-blue" style="position: relative">
        <div class="navbar-wrapper">
            <div class="navbar-content sidenav-horizontal" style="width: 50%" id="layout-sidenav">
                <ul class="nav pcoded-inner-navbar sidenav-inner">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fa fa-home"></i></span><span class="pcoded-mtext">Home</span></a>
                        <ul class="pcoded-submenu">
                            <li>@Html.ActionLink("Change Password", "Index", "ChangePassword")</li>
                            <li>@Html.ActionLink("Flash", "Index", "Flash")</li>
                            <li>@Html.ActionLink("News in Brief", "Index", "LatestUpdates")</li>
                            <li>@Html.ActionLink("Popup", "Index", "Popup")</li>
                            <li>@Html.ActionLink("Testimonial", "Index", "Testimonial")</li>
                        </ul>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fa fa-list"></i></span><span class="pcoded-mtext">Menu</span></a>
                        <ul class="pcoded-submenu">
                            <li>@Html.ActionLink("Page Head", "Index", "PageHead")</li>
                            <li>@Html.ActionLink("Sub Menu", "Index", "Page")</li>
                            <li>@Html.ActionLink("Sub Menu Data", "Index", "Topic")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->
    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg header-blue navbar-light">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
            <a href="#">
                <!-- ========   change your logo hear   ============ -->
                <h5 style="color:#FFFFFF;">Excel Educational Institute</h5>
            </a>
            <a href="#!" class="mob-toggler">
                <i class="feather icon-more-vertical"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse">

            <ul class="navbar-nav ml-auto">

                <li>
                    <a href="/login">
                        <i class="feather icon-log-out"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container" style="margin-top: 0px">
        <div class="pcoded-content">
            <div class="page-wrapper">
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] start -->
                @RenderBody()
                <!-- [ Main Content ] end -->
                <!-- [ Main Content ] start -->
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
    <!-- [ Main Content ] start -->
    <!-- [ Main Content ] end -->
    <!-- Warning Section start -->
    <!-- Older IE warning message -->
    <!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br />to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="assets/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="assets/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="assets/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="assets/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="assets/images/browser/ie.png" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Js -->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@

    <script src="@Url.Content("~/Content/admin/assets/js/pcoded.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Content/admin/assets/js/menu-setting.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Content/admin/assets/js/plugins/jquery.blockUI.js")"></script>
    <script src="@Url.Content("~/Content/admin/assets/js/plugins/bootstrap-notify.min.js")"></script>
</body>
</html>



@*<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>

    <button onclick="bottomFunction()" id="myBottomBtn" title="Go to bottom"><i class="fas fa-arrow-down"></i></button>*@
<script>

</script>
<script src="~/Scripts/Custom/gbl.js"></script>
