@model DAL.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<!-- data tables css -->
<link rel="stylesheet" href="@Url.Content("~/Content/admin/assets/css/plugins/dataTables.bootstrap4.min.css")">
<link href="@Url.Content("~/Content/admin/Custom.css")" rel="stylesheet" />

<form id="frm_changepassword" method="post" action="#" role="form" novalidate="novalidate">
    <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
            <div class="card">

                <div class="card-header">
                    <h5>Change Password</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Old Password</label>
                                @Html.TextBoxFor(Model => Model.USER_PASSWORD, new { @class = "form-control", placeholder = "Old Password", @required = "required" })
                                <label id="FLASH_CAPTION-error" class="error hide_column invalid-feedback" for="FLASH_CAPTION" style="">This field is required.</label>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>New Password</label>
                                @Html.TextBoxFor(Model => Model.NEW_PASSWORD, new { @class = "form-control", placeholder = "New Password", @required = "required", @type = "password" })
                                <label id="FLASH_CAPTION-error" class="error hide_column invalid-feedback" for="FLASH_CAPTION" style="">This field is required.</label>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Re-type New Password</label>
                                <input id="ConfirmPassword" type="password" class="form-control" name="ConfirmPassword" placeholder="Re-type New Password" required />
                                <label id="FLASH_CAPTION-error" class="error hide_column invalid-feedback" for="FLASH_CAPTION" style="">This field is required.</label>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <br />
                            <button class="btn notifications btn-success has-ripple" data-type="success" data-from="top" data-align="right" type="submit" id="ChangePassword"> Change Password </button>
                        </div>
                    </div>
                    <div style="margin-top: 7px;" id="CheckPasswordMatch"></div>
                </div>
            </div>
        </div>
        <!-- [ sample-page ] end -->
    </div>
</form>


<script src="@Url.Content("~/Content/admin/assets/js/plugins/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/dataTables.bootstrap4.min.js")"></script>

<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.colVis.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.print.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/pdfmake.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/jszip.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/dataTables.buttons.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.html5.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.bootstrap4.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/pages/data-export-custom.js")"></script>

<!--Custom JS-->
<script src="@Url.Content("~/Scripts/custom/ChangePassword/ChangePassword.js")"></script>

<script>
    $(document).ready(function () {
        $("#ConfirmPassword").on('keyup', function () {
            var password = $("#NEW_PASSWORD").val();
            var confirmPassword = $("#ConfirmPassword").val();
            if (password != confirmPassword)
                $("#CheckPasswordMatch").html("Password does not match !").css("color", "red");
            else
                $("#CheckPasswordMatch").html("Password match !").css("color", "green");
        });
    });
</script>