@model DAL.Models.PageModel

@{
    ViewBag.Title = "Sub Menu";
}

<!-- data tables css -->
<link rel="stylesheet" href="@Url.Content("~/Content/admin/assets/css/plugins/dataTables.bootstrap4.min.css")">
<link href="@Url.Content("~/Content/admin/Custom.css")" rel="stylesheet" />

<form id="frm_submenu" method="post" action="#" role="form" novalidate="novalidate">
    <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
            <div class="card">

                <div class="card-header">
                    <h5>Sub Menu</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Page head</label>
                                @Html.DropDownListFor(model => model.PAGE_HEAD_ID, new List<SelectListItem>(Model.PAGE_LIST), "Select Page Head", new { @class = "form-control", placeholder = "Select Page Head" })
                                @Html.TextBoxFor(Model => Model.ACTION, new { @class = "hide_column", value = "1" })
                                @Html.TextBoxFor(Model => Model.PAGE_ID, new { @class = "hide_column" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Sub Menu</label>
                                @Html.TextBoxFor(Model => Model.SUB_MENU, new { @class = "form-control", placeholder = "Enter Sub Menu", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Description/Link</label>
                            <select class="form-control" id="ddl_islink">
                                <option value="false">Description</option>
                                <option value="true">Link</option>
                            </select>
                            @Html.TextBoxFor(Model => Model.IS_LINK, new { @class = "hide_column" })
                        </div>
                        <div class="col-md-4" id="dv_link">
                            <label>URL</label>
                            @Html.TextBoxFor(Model => Model.LINK_URL, new { @class = "form-control", placeholder = "Enter URL" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Show</label>
                            <select class="form-control" id="ddl_show">
                                <option value="True">YES</option>
                                <option value="false">NO</option>
                            </select>
                            @Html.TextBoxFor(Model => Model.SHOW, new { @class = "hide_column" })
                        </div>
                        <div class="col-md-2">
                            <label>More Sub Menu?</label>
                            <select class="form-control" id="ddl_moresubmenu">
                                <option value="True">YES</option>
                                <option value="false">NO</option>
                            </select>
                            @Html.TextBoxFor(Model => Model.SUB_MENU, new { @class = "hide_column" })
                        </div>
                        <div class="col-md-2">
                            <label>Is Department?</label>
                            <select class="form-control" id="ddl_isdepartment">
                                <option value="True">YES</option>
                                <option value="false">NO</option>
                            </select>
                            @Html.TextBoxFor(Model => Model.IS_DEPARTMENT, new { @class = "hide_column" })
                        </div>
                        <div class="col-md-1">
                            <br />
                            <div class="btn notifications btn-success has-ripple" data-type="success" data-from="top" data-align="right" id="btnsubmit">Submit</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dt-responsive table-responsive">
                                <table id="PageTable" class="table table-bordered">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ sample-page ] end -->
    </div>
</form>


<script src="@Url.Content("~/Content/admin/assets/js/plugins/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/dataTables.bootstrap4.min.js")"></script>

<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.colVis.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.print.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/pdfmake.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/jszip.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/dataTables.buttons.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.html5.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.bootstrap4.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/pages/data-export-custom.js")"></script>

<!--Custom-->
<script src="@Url.Content("~/Scripts/custom/PageDatatable.js")"></script>

<script>
    var LoadRecord = "@Url.Content("~/Page/loadRecord")"
    var AddEditDeleteRecord= "@Url.Content("~/Page/addEditDeleteRecord")"
    var EditRecord = "@Url.Content("~/Page/editRecord")"
    var DeleteRecord = "@Url.Content("~/Page/deleteRecord")"

    var UploadFileUrl = "@Url.Content("~/Page/uploadFile")"
</script>

