@model DAL.Models.PageTopic
@using DAL.Models
<script src="~/Scripts/custom/topic/Topic.js"></script>
<script src="~/Scripts/custom/topic/TopicsDatatable.js"></script>

<div class="col-sm-12">
    <div class="card">
        <div class="card-header pagetopic">
            <h5>Topic</h5>
            <h5 class="closeCard" style="float: right; color: blue; cursor: pointer;"><i class="feather icon-x"></i></h5>
        </div>
        <div class="card-body">
            <form id="frm_topic">
                @Html.HiddenFor(m => m.PAGE_ID)
                @Html.HiddenFor(m => m.TOPIC_ID)
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label required">Topic</label>
                            @Html.TextBoxFor(m => m.TOPIC_NAME, new { @class = "form-control", placeholder = "Topic", @required = "required" })
                            <label id="TOPIC_NAME-error" class="error hide_column invalid-feedback" for="TOPIC_NAME" style="">This field is required.</label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">

                            <div class="col-md-1 m-0 p-0">
                                <div class="form-group">
                                    <label class="form-label" style="display:block">Is Link</label>
                                    <input class="chktoggle" @(Model.IS_LINK ? "checked" : "") type="checkbox" id="IS_LINK"
                                           name="IS_LINK" data-size="sm" data-toggle="toggle" data-on="YES" data-off="NO"
                                           data-onstyle="success" data-offstyle="danger">
                                </div>
                            </div>

                            <div class="col-md-4 m-0 p-0 divlink" style="display:none">
                                <div class="form-group">
                                    <label class="form-label" style="display:block">Link</label>
                                    @Html.TextBoxFor(m => m.LINK_URL, new { @class = "form-control", placeholder = "Url" })
                                </div>
                            </div>
                            <div class="col-md-2 m-0 p-0">
                                <div class="form-group">
                                    <label class="form-label" style="display:block">Set Order</label>
                                    @Html.DropDownListFor(m => m.TOPIC_ORDER, Model.ORDERDD, new { @class = "frmselect col-md-5" })
                                </div>
                            </div>
                            <div class="col-md-2 m-0 p-0">
                                <div class="form-group">
                                    <label class="form-label" style="visibility:hidden">Set Order</label><br />
                                    <button type="button" id="btnSaveTopic" class="btn btn-sm btn-outline-primary">@(Model.TOPIC_ID > 0 ? "Update" : "Add")</button>
                                    <button type="button" id="btnCancelTopic" style="display:none" class="btn btn-sm btn-outline-primary">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </form>

            <hr />
            <table id="gridTopicstable" class="table table-bordered">
            </table>
        </div>
    </div>
</div>
