<!-- data tables css -->
<link rel="stylesheet" href="@Url.Content("~/Content/admin/assets/css/plugins/dataTables.bootstrap4.min.css")">
<link href="@Url.Content("~/Content/admin/Custom.css")" rel="stylesheet" />

<div class="row">

    <div class="col-sm-12">
        <div class="card">

            <div class="card-header">
                <h5>Menu content</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-1">
                        <div class="form-group">
                            <label class="control-label">Page Head</label>
                            <select class="clsddlpagehead col-sm-12" required></select>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label class="control-label">Sub menu</label>
                            <select class="clsddlpage col-sm-12"></select>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label class="control-label">Topic</label>
                            <select class="clsddltopic col-sm-12"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="dt-responsive table-responsive">
                            <table id="FlashTable" class="table table-bordered">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="@Url.Content("~/Content/admin/assets/js/plugins/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/dataTables.bootstrap4.min.js")"></script>

<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.colVis.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.print.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/pdfmake.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/jszip.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/dataTables.buttons.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.html5.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.bootstrap4.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/pages/data-export-custom.js")"></script>

<!--Custom-->
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/custom/Topic.js")"></script>

<script>
    var GetPageHead = "@Url.Content("~/Topic/GetPageHead")";
    var GetPage = "@Url.Content("~/Topic/GetPage")";
</script>

