@model DAL.Models.LatestUpdatesModel

@{
    ViewBag.Title = "Latest Updates";
}

<!-- data tables css -->
<link rel="stylesheet" href="@Url.Content("~/Content/admin/assets/css/plugins/dataTables.bootstrap4.min.css")">
<link href="@Url.Content("~/Content/admin/Custom.css")" rel="stylesheet" />

<!-- datepicker -->
<link href="~/Content/admin/assets/css/plugins/daterangepicker.css" rel="stylesheet" />
<script src="~/Content/admin/assets/js/plugins/moment.min.js"></script>
<script src="~/Content/admin/assets/js/plugins/daterangepicker.js"></script>

<form id="frm_latestupdates" method="post" action="#" role="form" novalidate="novalidate">
    <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
            <div class="card">

                <div class="card-header d-flex">
                    <h5>Latest Updates</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Date</label>
                                @Html.TextBoxFor(Model => Model.NEWS_DATE, new { @class = "form-control datepicker", type = "date", placeholder = "Enter Date", @required = "required" })
                                @Html.TextBoxFor(Model => Model.ACTION, new { @class = "hide_column", value = "1" })
                                @Html.TextBoxFor(Model => Model.NEWS_ID, new { @class = "hide_column" })
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Title</label>
                                @Html.TextBoxFor(Model => Model.NEWS_TITLE, new { @class = "form-control", placeholder = "Enter Title", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Section</label>
                            @Html.DropDownListFor(m => m.NEWS_SECTION, Model.NEWS_SECTIONDD, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            <label>Type</label>
                            @Html.DropDownListFor(m => m.NEWS_LINKTYPE, Model.NEWS_LINKTYPEDD, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            <div id="dv_file">
                                <label>Upload File</label>
                                <input type="file" id="uploadfile" />
                                @Html.TextBoxFor(Model => Model.NEWS_FILEPATH, new { @class = "hide_column" })
                            </div>
                            <div id="dv_url">
                                <label>URL</label>
                                @Html.TextBoxFor(Model => Model.NEWS_LINK, new { @class = "form-control", placeholder = "Enter URL", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-1">
                            <br />
                            <button class="btn notifications btn-success has-ripple" data-type="success" data-from="top" data-align="right" type="submit" id="btnsubmit">Submit</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dt-responsive table-responsive">
                                <table id="gridtable" class="table table-bordered">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ sample-page ] end -->
    </div>
</form>


<script src="@Url.Content("~/Content/admin/assets/js/plugins/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/dataTables.bootstrap4.min.js")"></script>

<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.colVis.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.print.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/pdfmake.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/jszip.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/dataTables.buttons.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.html5.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/plugins/buttons.bootstrap4.min.js")"></script>
<script src="@Url.Content("~/Content/admin/assets/js/pages/data-export-custom.js")"></script>

<!--Custom-->
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/custom/LatestUpdates/LatestUpdates.js")"></script>
<script src="@Url.Content("~/Scripts/custom/LatestUpdates/LatestUpdatesDatatable.js")"></script>

<script>
    var LoadRecord = "@Url.Content("~/LatestUpdates/loadRecord")"
    var AddEditRecord = "@Url.Content("~/LatestUpdates/addEditRecord")"
    var DeleteRecord = "@Url.Content("~/LatestUpdates/DeleteRecord")"
</script>

